# "Test table changes"
> "Nothing to see here, move along"

- toc: true
- badges: true
- comments: true
- categories: [misc]

This is a markdown table with very long values

| Col 1 | Col 2 | Col 3 | Col 4 | Col 5 |
|---|---|---|---|---|
| This is going to be a really big table | with lots and lots of text | in every cell which will overflow | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius libero ut tellus egestas tempus. | Mauris eget consequat odio. In eu tempor ligula. |

In [1]:
import pandas as pd

blah = [
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", 
  "Sed varius libero ut tellus egestas tempus.", 
  "Mauris eget consequat odio. In eu tempor ligula.", 
  "Proin eget enim vel arcu vulputate vulputate.", 
  "Maecenas gravida vestibulum molestie. Ut facilisis feugiat augue nec ultricies.", 
  "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.", 
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", 
  "Sed at nibh tincidunt, vehicula diam ac, ultrices risus.", 
  "Maecenas consequat auctor ante. Nulla consectetur diam et aliquet feugiat."
  ]

cols = ["Col{}".format(i) for i,_ in enumerate(blah)]
df = pd.DataFrame(columns=cols)

row = {}
for i,s in enumerate(blah): row["Col{}".format(i)] = s
df.append([row])

                                                Col0  ...                                               Col8
0  Lorem ipsum dolor sit amet, consectetur adipis...  ...  Maecenas consequat auctor ante. Nulla consecte...

[1 rows x 9 columns]

In [3]:
import pandas as pd

blah = [
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius libero ut tellus egestas tempus.", 
  "Sed varius.", 
  "Mauris eget.", 
  "Proin eget.", 
  "Maecenas gravida.", 
  "Class aptent.", 
  "Lorem ipsum.", 
  "Sed at nibh.", 
  "Maecenas consequat."
  ]

cols = ["Col{}".format(i) for i,_ in enumerate(blah)]
df = pd.DataFrame(columns=cols)

row = {}
for i,s in enumerate(blah): row["Col{}".format(i)] = s
df.append([row])

                                                Col0  ...                 Col8
0  Lorem ipsum dolor sit amet, consectetur adipis...  ...  Maecenas consequat.

[1 rows x 9 columns]