# "Test table changes"
> "Nothing to see here, move along"

- toc: true
- badges: true
- comments: true
- categories: [misc]
- hide: true

This is a markdown table with very long values

| Col 1 | Col 2 | Col 3 | Col 4 | Col 5 |
|---|---|---|---|---|
| This is going to be a really big table | with lots and lots of text | in every cell which will overflow | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius libero ut tellus egestas tempus. | Mauris eget consequat odio. In eu tempor ligula. |

This is a markdown table where one cell has a very long value

| Col 1 | Col 2 | Col 3 | Col 4 | Col 5 |
|---|---|---|---|---|
| one | two | three | four | five |
| one | two | three | four | five |
| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius libero ut tellus egestas tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius libero ut tellus egestas tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius libero ut tellus egestas tempus. | two | three | four | five |
| one | two | three | four | five |
| one | two | three | four | five |
| one | two | three | four | five |

In [ ]:
import pandas as pd

blah = [
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", 
  "Sed varius libero ut tellus egestas tempus.", 
  "Mauris eget consequat odio. In eu tempor ligula.", 
  "Proin eget enim vel arcu vulputate vulputate.", 
  "Maecenas gravida vestibulum molestie. Ut facilisis feugiat augue nec ultricies.", 
  "Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.", 
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", 
  "Sed at nibh tincidunt, vehicula diam ac, ultrices risus.", 
  "Maecenas consequat auctor ante. Nulla consectetur diam et aliquet feugiat."
  ]

cols = ["Col{}".format(i) for i,_ in enumerate(blah)]
df = pd.DataFrame(columns=cols)

row = {}
for i,s in enumerate(blah): row["Col{}".format(i)] = s
df.append([row])

                                                Col0  ...                                               Col8
0  Lorem ipsum dolor sit amet, consectetur adipis...  ...  Maecenas consequat auctor ante. Nulla consecte...

[1 rows x 9 columns]

In [ ]:
import pandas as pd

onelong = [
  "Very long Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius libero ut tellus egestas tempus.", 
  "Sed varius.", 
  "Mauris eget.", 
  "Proin eget.", 
  "Maecenas gravida.", 
  "Class aptent.", 
  "Lorem ipsum.", 
  "Sed at nibh.", 
  "Maecenas consequat."
  ]

cols = ["Col{}".format(i) for i,_ in enumerate(onelong)]
df = pd.DataFrame(columns=cols)

rows = []
row = {}
for i,s in enumerate(onelong): row["Col{}".format(i)] = s
rows.append(row)

allshort = [
  "Lorem ipsum.", 
  "Sed varius.", 
  "Mauris eget.", 
  "Proin eget.", 
  "Maecenas gravida.", 
  "Class aptent.", 
  "Lorem ipsum.", 
  "Sed at nibh.", 
  "Maecenas consequat."
  ]
for i in range(3): 
  row={}
  for j,s in enumerate(allshort): row["Col{}".format(j)] = s
  rows.append(row)

df.append(rows)

                                                Col0  ...                 Col8
0  Very long Lorem ipsum dolor sit amet, consecte...  ...  Maecenas consequat.
1                                       Lorem ipsum.  ...  Maecenas consequat.
2                                       Lorem ipsum.  ...  Maecenas consequat.
3                                       Lorem ipsum.  ...  Maecenas consequat.

[4 rows x 9 columns]